.studentDiv{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}
.innerStudentDiv{
    width: 50;
}
.table{
   color: white;
   width: 50;
   border: 2px black solid;
   margin: 20px;
}
th{
    width: 80px;
}
th{
    border: 2px black solid;
}
.btn-success{
    margin: 40px 40px;
    padding: 10px 20px;
    background-color: rgb(255, 0, 153);
    color: white;
    align-items: left;
}
.actionButton{
    background-color: palevioletred;
    color: black;
}

